# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Intellij #
out/
target/
run/
test_run/

.idea
*.ini
*.iml
/.settings
.project
.classpath
*.iml
